$h-color: #dadada;

html {
  font-size: 62.5%;
  user-select: none;
  cursor: url(../../img/artstory-icon.svg) auto;
}

#smoke {
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}

/////////////////////////////////////////////// font

h1,
h2,
h3,
h4,
a {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
h1 {
  @include fontSize(110);
  color: $h-color;

  letter-spacing: 0.02em;
}
h2 {
  @include fontSize(50);
  color: $h-color;
  letter-spacing: 0.02em;
}
h3 {
  font-size: 50px;
  color: #fff;
  margin: 0;
}
a {
  text-decoration: none;
  color: $h-color;
}

p {
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: $h-color;
  margin: 10px;
  line-height: 2;
}
th,
td {
  font-family: YuGothic, "Yu Gothic", sans-serif;
  @include fontSize(10);
  padding-right: 10px;
  color: $h-color;
  vertical-align: initial;
}

.art-title {
  font-weight: bold;
  border-bottom: 1px solid #fff;
}

li {
  list-style: none;
  color: $h-color;
}
/////////////////////////////////////////////// nav
nav {
  margin-top: 50%;
  ul {
    margin-bottom: 50px;
  }
}
/////////////////////////////////////////////// map
iframe {
  @include widthSize(250);
  @include heightSize(250);
}
