.l_button {
  position: fixed;
}
.js-drawerActive .md_hamb_nav-drawer {
  transform: translateX(0);
}

// ************ 現在表示中かどうかを指定する/aria-expanded
.md_hamb_nav-button[aria-expanded="true"] .md_hamb_nav-line {
  background: transparent;
}
.md_hamb_nav-button[aria-expanded="true"] .md_hamb_nav-line::before,
.md_hamb_nav-button[aria-expanded="true"] .md_hamb_nav-line::after {
  top: 0;
  background: $h-color;
}
.md_hamb_nav-button[aria-expanded="true"] .md_hamb_nav-line::before {
  transform: rotate(45deg);
}

.md_hamb_nav-button[aria-expanded="true"] .md_hamb_nav-line::after {
  transform: rotate(-45deg);
}
