#js-opening {
  position: fixed;
  top: 0;
  left: 0;
}

.opening {
  width: 100%;
  height: 100vh;
  opacity: 0;
  background: #000;
  z-index: 1000;
  animation: openingBg 10s ease-in;
  //   display: none;
}

@keyframes openingBg {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
